body {
  margin: 30px;
}

div {
  margin: auto;
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-top: 50px;
}

#cs441p1_form_wrapper {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  padding: 10px;
  /* width: 500px; */
  background-color: #34D2E0;
  margin-top: 100px;
}

#cs441p1_form_wrapper h1 {
  color: blue;
  font-weight: bold;
  font-size: 150%;
}

#cs441p1_form_wrapper table {
  border: none;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 15px;
  margin-top: 15px;
}

#cs441p1_form_wrapper td {
  padding: 10px;
}

#cs441p1_form_wrapper .cs441p1_tleft {
  font-weight: bold;
  text-align: right;
  width: 25%;
}

#cs441p1_form_wrapper .cs441p1_tright {
  text-align: left;
}

#cs441p1_form_wrapper button {
  background-color: #000000;
  border: none;
  min-width: 20%;
  padding: 5px;
  margin: 5px;
  color: #FFFFFF;
  font-weight: bold;
}

#cs441p1_form_wrapper a {
  color: #blue;
  font-weight: bold;
  text-decoration: none;
}

#cs441p1_form_wrapper a:hover {
  color: #000000;
}

#cs441p1_output {
  padding: 20px;
}

#cs441p1_output table {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

#cs441p1_output .cs441p1_tleft {
  width: 50%;
}

#cs441p1_output .cs441p1_tlhead {
  color: #FF0538;
  width: 50%;
  font-weight: bold;
  text-align: right;
  font-size: 125%;
}
